/* ====================================================================
@ set browser style
======================================================================= */
html,body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ul,ol,li,form,fieldset,legend,button,submit,input,textarea,select,table,tr,th,td,hr,pre,sup,address,cite,dfn,em,var,blockquote { margin:0; padding:0}
/*html { min-height:100%; background:#fff; border:none 0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}*/
body { font:12px/1.5 "Microsoft YaHei",Tahoma,"Hiragino Sans GB",arial,simsun,sans-serif;word-wrap:break-word;word-break:break-all;}
ul,ol { list-style-type:none;}
button,submit,input,select,textarea {font:12px/1.5 Tahoma,"Microsoft YaHei",arial,simsun,sans-serif; outline:none;}
button,submit,input,select { vertical-align:middle;}
button,submit { cursor:pointer;}
textarea { resize:none; outline:none;}
button::-moz-focus-inner,
submit::-moz-focus-inner, 
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner { padding:0; border:none;}
table { border-collapse:separate;border-spacing:0;}
th,td { text-align:left;}
address,cite,dfn,em,var{font-style:normal; }
img { border:none; vertical-align:middle;}
a { outline:none;}
a:link,a:visited,a:hover,a:active{ text-decoration:none; outline:none;color:#fff;}
.hide {display: none;}
.show {display: block;}

/* ====================================================================
@ 	set common style
======================================================================= */
.f_l {float: left;}
.f_r {float: right;}
.clear {clear:both;}

body{background-color:#fff;font-family: '微软雅黑';font-weight:normal; width:640px;}
